.nav {
  margin: 8px;
  padding: 16px;
  background: linear-gradient(90deg, #ffffffee, #f8fafc);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;

  .links {
    display: flex;
    column-gap: 16px;

    a {
      font-size: 1rem;
      color: gray;
      font-weight: bold;
      text-decoration: none;
      font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial;

      &.active {
        color: black;
      }

      &:hover {
        color: black;
      }
    }
  }

}