.nav {
  margin: 8px;
  padding: 16px;
  background: linear-gradient(90deg, #ffffffee, #f8fafc);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;

  .links {
    display: flex;
    column-gap: 16px;

    a {
      padding: 16px 12px;
      background-color: #f5f5f5;
      border-radius: 8px;
      font-size: 1rem;
      color: black;
      font-weight: bold;
      text-decoration: none;
      font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial;

      &.active {
        color: white;
        background-color: #00a676;

        &:hover {
          color: white;
          background-color: #00a676;
        }

      }

      &:hover {
        color: lightgray;
      }
    }
  }

}